.frame {
    background-color: #341e10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: var(--primary);
    width: 375px;
    height: 1545px;
    position: relative;
  }
  
  .frame .div-2 {
    display: flex;
    width: 375px;
    height: 197px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 86px 64px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .frame .mask-group {
    position: absolute;
    width: 375px;
    height: 197px;
    top: 0;
    left: 0;
  }
  
  .frame .text-wrapper {
    position: relative;
    width: 247px;
    height: 25px;
    margin-top: -1.00px;
    font-family: "Dancing Script-Bold", Helvetica;
    font-weight: 700;
    color: var(--tersier);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 335px;
    top: 220px;
    left: 20px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--tersier);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .div-3 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 257px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .ellipse {
    position: relative;
    width: 100px;
    height: 101px;
    margin-bottom: -11.00px;
    margin-left: -5.00px;
    object-fit: cover;
  }
  
  .frame .div-4 {
    display: flex;
    flex-direction: column;
    width: 193px;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    position: relative;
  }
  
  .frame .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--tersier);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .p {
    position: relative;
    align-self: stretch;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #c9cabd80;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .div-5 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 407px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .img {
    margin-bottom: -5.00px;
    object-fit: cover;
    position: relative;
    width: 100px;
    height: 101px;
    margin-left: -5.00px;
  }
  
  .frame .div-6 {
    display: flex;
    flex-direction: column;
    width: 193px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
  }
  
  .frame .div-7 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 569px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #c9cabd80;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .frame .div-8 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 719px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    width: 335px;
    top: 872px;
    left: 20px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--tersier);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .div-9 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 909px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .ellipse-2 {
    margin-bottom: -11.00px;
    position: relative;
    width: 100px;
    height: 101px;
    margin-left: -5.00px;
  }
  
  .frame .div-10 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 1059px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .div-11 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 1209px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  
  .frame .div-12 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    position: absolute;
    top: 1359px;
    left: 20px;
    background-color: #3c2618;
    border-radius: 16px;
  }
  